<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
			<h3>Menu</h3>
			<a href="#">Celery seakale</a>
			<a href="#">Dulse daikon</a>
			<a href="#">Zucchini garlic</a>
			<a href="#">Catsear azuki bean</a>
			<a href="#">Dandelion bunya</a>
			<a href="#">Rutabaga</a>
</nav>

<script>
	var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
	    showLeftPush = document.getElementById( 'showLeftPush' ),
		content= document.getElementById('content');


			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( content, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
			};
</script>